/* Reset style bawaan */
 *{
  margin: 10;
  padding: 10;
  font-family: sans-serif;
  }
  /* Style untuk keseluruhan halaman */
  body {
    background-color: #f2f2f2; /* Warna latar belakang abu-abu muda */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Tinggi halaman minimal 100% viewport */
  }
  
  /* Style untuk formulir */
  form {
    background-color: #fff; /* Warna latar belakang putih */
    padding: 30px; /* Lebarkan padding */
    border-radius: 10px; /* Sudut lengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan */
    width: 400px; /* Lebar formulir */
    margin: 0 auto; /* Posisi di tengah */
  }
  
  /* Style untuk label */
  label {
    display: block;
    margin-bottom: none;
    font-weight: bold; /* Teks label lebih tebal */
  }
  
  
  /* Style untuk input text */
  input[type="text"] {
    width: 95%;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style untuk tombol submit */
  input[type="submit"] {
    background-color: #336699; /* Warna biru cerah */
    color: #fff;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style untuk pesan penting */
.info {
  width: 400px;
}

  .info h4 {
    margin-top: 20px;
    color: #333;
    text-align: center;
  }
  
  a {
    color: #336699; /* Warna biru cerah untuk link */
    text-decoration: none;
  }
  